body{
  margin: 0;
  background-color: #F1F8FF;
  font-family: 'Roboto', sans-serif;
  
}

nav ul li a{
  text-decoration: none;
  font-size: 1.8rem;
  color: #313131;
  transition: 0.1s;
  line-height: 48px;
  padding-right: 170px;
  
}

nav ul li a:hover{
  color: #2E5D9D;
  
}
nav ul{
  list-style: none;
  display: flex;
  padding-top: 0px;
  justify-content: space-between;
  float: right;
  transform: translate(0, -40px);
  
}
nav{
  background-color: #FFFFFF;
  padding: 0.3rem;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo a{
  color: #2E5D9D;
}


.logo {
  font-size: 2.4rem;
  transform: translate(5%, 42%);
}

.blå{
  color: #8EB3E5;
}




.sidebar{
  position: fixed;
  left: 0;
  width: 450px;
  height: 100%;
  background: #8eb4e53a;
  margin: 0;
}


.sidebar ul{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 130px;
  
}


.sidebar ul li a{
  display: block;
  line-height: 95px;
  font-size: 1.7rem;
  color: #313131;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #313131;
  text-decoration: none;
  transition: 0.1s;
}
.sidebar ul li a:hover{
  background: #8EB3E5;
}



.pil{
  height: 20px;
  width: auto;
}

.sidebar2{
  position: fixed;
  right: 0;
  width: 350px;
  height: 100%;
  background: #2e5c9d17;
  margin: 0;
  padding-top: 100px;
}

.med{
  background: #C8DDFA;
  height: 55px;
  border-bottom: solid 3px #313131;
  width: 300px;
  margin-left: 20px;
  margin-top: 60px;
}

.med h1{
  padding-top: 10px;
  margin: 0;
  
}
.med ul{
  text-decoration: none;
  list-style: none;
  display: flex;
}
.med ul li{
  margin: 0;
  padding: 0;
  
}
.med img{
  height: 35px;
  padding-top: 11px;
  transform: translate(-80%);

}

.med h1{
  font-weight: 300;
  transform: translate(-10%);
  font-size: 26px;
  margin-top: 2px ;
}

.arb{
  background: #C8DDFA;
  margin: auto;
  transform: translate(-20%, 200%);
  height: 56px;
  width: 50rem;
  border-bottom: #313131 2px solid;
}

.arb h1{
  transform: translate(5%, 12%);
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  
}
.arb ul li{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  line-height: 70px;
  margin: 0;
  padding-left: 20px;
}
.arb ul{
  background-color: #E3EEFD;
  transform: translate(0, 11%);
  margin: 0;
  padding-left: 0;
  
}

.res{
  background: #C8DDFA;
  margin: auto;
  transform: translate(-20%, 200%);
  height: 56px;
  width: 50rem;
  border-bottom: #313131 2px solid;
}

.res h1{
  transform: translate(5%, 12%);
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  
}
.res ul li{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  line-height: 70px;
  margin: 0;

}
.res ul{
  background-color: #E3EEFD;
  transform: translate(0, 11%);
  margin: 0;
  padding-left: 0;
  
}

.schema{
  background: #C8DDFA;
  margin: auto;
  transform: translate(-20%, 200%);
  height: 56px;
  width: 50rem;
  border-bottom: #313131 2px solid;
}

.schema h1{
  transform: translate(5%, 12%);
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  
}
.schema ul li{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  line-height: 70px;
  margin: 0;

}
.schema ul{
 
  transform: translate(0, 11%);
  margin: 0;
  padding-left: 0;
  
}

.sche{
  width: 50rem;
  transform: translate(0, -8%);
}

.dag{
  background: #C8DDFA;
  margin: auto;
  transform: translate(-20%, 200%);
  height: 56px;
  width: 50rem;
  border-bottom: #313131 2px solid;
}

.dag h1{
  transform: translate(5%, 12%);
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  
}
.dag ul li{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  line-height: 70px;
  margin: 0;
  padding-left: 20px;
}
.dag ul{
  background-color: #E3EEFD;
  transform: translate(0, 11%);
  margin: 0;
  padding-left: 0;
  
}



.container{
  padding-top: 17rem;
}
.container2{
  padding-top: 7rem;
}










.b{
  background-color: #d2e1f765;
}

@media only screen and (min-width: 376px){
.profil{
  display: none;
}
.mail{
  display: none;
}
.log{
  display: none;
}
.menu{
  display: none;
}
.dag{
  display: none;
}
}

@media only screen and (max-width: 1280px){

  nav{
    height: 74px;

  }
  .logo a{
    font-size: 1.9rem;
    
  }

  nav ul li{
    transform: translate(0%, -17%);
  }
  
  .sidebar{
    width: 300px;
  }
  .sidebar header{
    height: 60px;
    
  }

  .sidebar header h1{
    font-size: 25px;
    font-weight: 300;
    color: #313131;
    transform: translate(0%, -50%);
  }
  .sidebar ul li a{
    font-size: 1.2rem;
    line-height: 60px;
}
  .pil{
    height: 13px;
    transform: translate(0, 9%);
}
  .sidebar2{
    width: 240px;
  }
  .med{
    width: 200px;
    height: 35px;
  }
  .med img{
    height: 25px;
    transform: translate(-110%, -8%);
  }
   .med ul li h1{
    font-size: 1.3rem;
    transform: translate(-16%, -15%);
    padding-top: 8px;
    
  }

  .arb{
    width: 34rem;
    height: 44px;
  }
  .arb h1{
    font-size: 25px;
  }
  .dag{
    width: 34rem;
    height: 44px;
  }
  .dag h1{
    font-size: 25px;
  }
  .schema h1{
    font-size: 25px;
  }
  .res h1{
    font-size: 25px;
  }

  .schema{
    width: 34rem;
    height: 39px;
  }

  .res{
    width: 34rem;
    height: 40px;
  }

  .sche{
    width: 34rem;
    
  }
  main{
    padding-left: 200px;
    padding-top: 30px;
  }
  .container{
    padding-top: 13rem;
  }
  .container2{
    padding-top: 4rem;
  }
  .arb ul li{
    font-size: 18px;
  }
} 
@media only screen and (max-width: 375px){
.sidebar{
  display: none;
}
.sidebar2{
  display: none;
}

.schema{
  display: none;
}
.logo a{
  display: none;
}
.log{
  height: 50px;
  transform: translate(-585%, 69%);
}
.menu{
  height: 30px;
  width: auto;
  transform: translate(-15px, 45px);
}
.mail{
  height: 30px;
  transform: translate(945%, 12px);
  
}
.profil{
  height: 30px;
  transform: translate(205px, 12px);
}
nav ul li a{
  display: none;
}
nav{
  height: 54px;
  
}
.arb{
  width: 280px;
  transform: translate(-60%, 250%);
}
.res{
  width: 280px;
  transform: translate(-60%, 250%);
}
.dag{
  width: 280px;
  transform: translate(-60%, 350%);

}
.dag ul{
  transform: translate(0, 5.6%);
}

}